$green            : #29858e;
$light-green      : #3fa8b2;
$lighter-green    : #def7f6;

$light-pale-green : #77e3c9;
$pale-green       : #72ceb8;
$dark-pale-green  : #3aad91;

$blue             : #2989c6;
$grey             : #414141;
$orange           : #fb6733;

$lighter-red      : #f9dbde;
$light-red        : #f1bac0;
$red              : #d33847;

$off-white        : #f3f3f3;
$dark-off-white   : #ebebeb;

$grey             : #4c5e65;
$light-grey       : #82888e;
$lighter-grey     : #acb2b5;
$lightest-grey    : #cfd6d9;

// Single use-cases
$text-hover-color      : #27a7b3;
$light-grey-label      : #89979c;
$search-border         : #f1f3f4;
$menu-background       : #65c0aa;
$search-box-background : #f6f6f6;
$listing-details-color : #9fa8ac;
