/* line 14, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 20, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
audio, canvas, video {
  display: inline-block; }

/* line 24, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 29, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
[hidden] {
  display: none; }

/* line 35, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 41, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
body {
  margin: 0; }

/* line 47, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
a:focus {
  outline: thin dotted; }

/* line 52, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
a:active, a:hover {
  outline: 0; }

/* line 58, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 63, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 68, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
b, strong {
  font-weight: bold; }

/* line 72, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
dfn {
  font-style: italic; }

/* line 76, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
hr {
  box-sizing: content-box;
  height: 0; }

/* line 82, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
mark {
  background: yellow;
  color: black; }

/* line 90, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/* line 95, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
pre {
  white-space: pre-wrap; }

/* line 99, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 103, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
small {
  font-size: 80%; }

/* line 108, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 115, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
sup {
  top: -0.5em; }

/* line 119, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
sub {
  bottom: -0.25em; }

/* line 125, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
img {
  border: 0; }

/* line 129, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
svg:not(:root) {
  overflow: hidden; }

/* line 135, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
figure {
  margin: 0; }

/* line 141, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 147, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
legend {
  border: 0;
  padding: 0; }

/* line 155, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

/* line 162, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
button, input {
  line-height: normal; }

/* line 167, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
button, select {
  text-transform: none; }

/* line 173, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
button, input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 179, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 184, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 189, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/* line 197, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 202, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 207, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 214, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/vendor/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/breakpoints */
.bp-mobile-only {
  display: none; }
  @media (min-width: 0) and (max-width: 679px) {
    .bp-mobile-only {
      display: block; } }

/* line 9, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/breakpoints */
.bp-tablet {
  display: none; }
  @media (min-width: 680px) {
    .bp-tablet {
      display: block; } }

/* line 17, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/breakpoints */
.bp-tablet-and-notebook {
  display: none; }
  @media (min-width: 680px) and (max-width: 999px) {
    .bp-tablet-and-notebook {
      display: block; } }

/* line 25, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/breakpoints */
.bp-notebook {
  display: none; }
  @media (min-width: 769px) {
    .bp-notebook {
      display: block; } }

/* line 33, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/breakpoints */
.bp-desktop {
  display: none; }
  @media (min-width: 1000px) {
    .bp-desktop {
      display: block; } }

/* line 42, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/breakpoints */
.bp-cinema {
  display: none; }
  @media (min-width: 1480px) {
    .bp-cinema {
      display: block; } }

/* line 10, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/layout */
html, body {
  background: #fff;
  min-height: 100%;
  max-width: 100%; }

/* line 16, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/layout */
body {
  color: #4c5e65;
  line-height: 1.28571;
  margin: 0;
  padding: 0; }
  /* line 22, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/layout */
  body * {
    box-sizing: border-box; }

/* line 27, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/layout */
.page-main {
  float: left;
  position: relative;
  width: 100%;
  margin-top: 60px; }
  /* line 26, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/layout */
  .page-main:before, .page-main:after {
    content: "";
    display: table; }
  /* line 30, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/layout */
  .page-main:after {
    clear: both; }
  /* line 33, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/layout */
  .lte7 .page-main {
    zoom: 1; }
  @media (min-width: 680px) {
    .page-main {
      margin-top: 0px; } }

/* line 35, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/layout */
.row {
  float: left;
  position: relative;
  width: 100%; }
  /* line 26, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/layout */
  .row:before, .row:after {
    content: "";
    display: table; }
  /* line 30, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/layout */
  .row:after {
    clear: both; }
  /* line 33, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/layout */
  .lte7 .row {
    zoom: 1; }

/* line 39, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/layout */
.wrap {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 20px;
  position: relative;
  width: 100%; }
  /* line 26, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/layout */
  .wrap:before, .wrap:after {
    content: "";
    display: table; }
  /* line 30, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/layout */
  .wrap:after {
    clear: both; }
  /* line 33, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/layout */
  .lte7 .wrap {
    zoom: 1; }

/* line 33, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/lists */
ol {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 9, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/lists */
  ol > li {
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 0; }
  /* line 36, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/lists */
  ol.-numbered {
    counter-reset: ordered-counter; }
    /* line 39, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/lists */
    ol.-numbered > li:before {
      content: counter(ordered-counter, decimal) '.';
      counter-increment: ordered-counter; }

/* line 46, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/lists */
ul {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 9, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/lists */
  ul > li {
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 0; }
  /* line 49, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/lists */
  ul.-inline {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 23, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/lists */
    ul.-inline > li {
      display: inline-block;
      font-size: 14px;
      margin: 0;
      padding: 0; }
  /* line 53, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/lists */
  ul.-disc {
    list-style: disc; }
    /* line 56, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/lists */
    ul.-disc > li {
      display: list-item;
      padding: 10px 0; }

/* line 1, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/buttons */
.button {
  background-color: #29858e;
  border-radius: 3px;
  border: none;
  color: #fff;
  transition: all 0.2s 0 ease;
  font-weight: 600;
  padding: 11px 12px;
  text-align: center; }
  /* line 22, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/buttons */
  .button:hover {
    background-color: #23727a; }
  /* line 5, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/buttons */
  .button.-green {
    background-color: #29858e;
    border-radius: 3px;
    border: none;
    color: #fff;
    transition: all 0.2s 0 ease;
    font-weight: 600;
    padding: 11px 12px;
    text-align: center; }
    /* line 22, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/buttons */
    .button.-green:hover {
      background-color: #23727a; }
  /* line 12, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/buttons */
  .button.-red {
    background-color: #d33847;
    border-radius: 3px;
    border: none;
    color: #fff;
    transition: all 0.2s 0 ease;
    font-weight: 600;
    padding: 11px 12px;
    text-align: center; }
    /* line 22, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/buttons */
    .button.-red:hover {
      background-color: #c62c3b; }
  /* line 19, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/buttons */
  .button.-blue {
    background-color: #2989c6;
    border-radius: 3px;
    border: none;
    color: #fff;
    transition: all 0.2s 0 ease;
    font-weight: 600;
    padding: 11px 12px;
    text-align: center; }
    /* line 22, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/buttons */
    .button.-blue:hover {
      background-color: #257ab1; }
  /* line 26, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/buttons */
  .button.-orange {
    background-color: #fb6733;
    border-radius: 3px;
    border: none;
    color: #fff;
    transition: all 0.2s 0 ease;
    font-weight: 600;
    padding: 11px 12px;
    text-align: center; }
    /* line 22, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/buttons */
    .button.-orange:hover {
      background-color: #fb541a; }
  /* line 33, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/buttons */
  .button.-green {
    background-color: #29858e;
    border-radius: 3px;
    border: none;
    color: #fff;
    transition: all 0.2s 0 ease;
    font-weight: 600;
    padding: 11px 12px;
    text-align: center; }
    /* line 22, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/buttons */
    .button.-green:hover {
      background-color: #23727a; }
  /* line 41, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/buttons */
  .button.-block {
    display: block;
    width: 100%; }
  /* line 47, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/buttons */
  .button.-large {
    font-size: 20px;
    padding: 20px 40px; }
    @media (min-width: 680px) {
      .button.-large {
        padding: 30px 80px; } }
  /* line 57, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/buttons */
  .button.-rounded {
    border-radius: 12px; }

/* line 2, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.span-1 {
  float: left;
  margin-left: 0;
  width: 5.21667%; }

/* line 6, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-1 {
  margin-left: 8.61667% !important; }

/* line 10, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-1:not(:first-child) {
  margin-left: 12.01667% !important; }

/* line 2, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.span-2 {
  float: left;
  margin-left: 0;
  width: 13.83333%; }

/* line 6, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-2 {
  margin-left: 17.23333% !important; }

/* line 10, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-2:not(:first-child) {
  margin-left: 20.63333% !important; }

/* line 2, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.span-3 {
  float: left;
  margin-left: 0;
  width: 22.45%; }

/* line 6, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-3 {
  margin-left: 25.85% !important; }

/* line 10, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-3:not(:first-child) {
  margin-left: 29.25% !important; }

/* line 2, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.span-4 {
  float: left;
  margin-left: 0;
  width: 31.06667%; }

/* line 6, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-4 {
  margin-left: 34.46667% !important; }

/* line 10, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-4:not(:first-child) {
  margin-left: 37.86667% !important; }

/* line 2, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.span-5 {
  float: left;
  margin-left: 0;
  width: 39.68333%; }

/* line 6, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-5 {
  margin-left: 43.08333% !important; }

/* line 10, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-5:not(:first-child) {
  margin-left: 46.48333% !important; }

/* line 2, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.span-6 {
  float: left;
  margin-left: 0;
  width: 48.3%; }

/* line 6, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-6 {
  margin-left: 51.7% !important; }

/* line 10, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-6:not(:first-child) {
  margin-left: 55.1% !important; }

/* line 2, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.span-7 {
  float: left;
  margin-left: 0;
  width: 56.91667%; }

/* line 6, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-7 {
  margin-left: 60.31667% !important; }

/* line 10, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-7:not(:first-child) {
  margin-left: 63.71667% !important; }

/* line 2, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.span-8 {
  float: left;
  margin-left: 0;
  width: 65.53333%; }

/* line 6, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-8 {
  margin-left: 68.93333% !important; }

/* line 10, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-8:not(:first-child) {
  margin-left: 72.33333% !important; }

/* line 2, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.span-9 {
  float: left;
  margin-left: 0;
  width: 74.15%; }

/* line 6, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-9 {
  margin-left: 77.55% !important; }

/* line 10, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-9:not(:first-child) {
  margin-left: 80.95% !important; }

/* line 2, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.span-10 {
  float: left;
  margin-left: 0;
  width: 82.76667%; }

/* line 6, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-10 {
  margin-left: 86.16667% !important; }

/* line 10, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-10:not(:first-child) {
  margin-left: 89.56667% !important; }

/* line 2, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.span-11 {
  float: left;
  margin-left: 0;
  width: 91.38333%; }

/* line 6, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-11 {
  margin-left: 94.78333% !important; }

/* line 10, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-11:not(:first-child) {
  margin-left: 98.18333% !important; }

/* line 2, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.span-12 {
  float: left;
  margin-left: 0;
  width: 100%; }

/* line 6, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-12 {
  margin-left: 103.4% !important; }

/* line 10, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.offset-12:not(:first-child) {
  margin-left: 106.8% !important; }

/* line 15, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/grid */
.span-12 {
  margin-left: 0;
  width: 100%; }

/* line 1, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/images */
img {
  display: block;
  max-width: 100%; }

/* line 1, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/links */
a {
  color: #29858e;
  text-decoration: none; }

/* line 6, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/links */
p {
  margin: 0 0 1em; }

/* line 12, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/links */
a:focus, input:focus, button:focus {
  outline: none; }

/* line 1, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/typography */
html, body {
  font-family: "Open Sans", Helvetica, arial;
  font-size: 14px; }

/* line 6, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/typography */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  font-weight: 300; }

/* line 12, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/typography */
.heading.-label {
  color: #4c5e65;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 40px;
  text-align: center; }

/* line 19, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/typography */
p {
  line-height: 1.7; }
  /* line 22, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/typography */
  p:last-child {
    margin-bottom: 0; }

/* line 27, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/typography */
a {
  transition: all 0.2s 0 ease; }

/* line 31, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/typography */
.-bold {
  font-weight: 600; }

/* line 2, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/base/utilities */
.hide-text {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 1, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/components/sheet */
.song-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

/* line 8, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/components/sheet */
.song-music {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden; }

/* line 13, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/components/sheet */
.song-notes {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }
  /* line 16, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/components/sheet */
  .song-notes > li {
    float: left;
    position: relative;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    height: 150px;
    line-height: 150px;
    text-align: center; }
    /* line 26, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/layout */
    .song-notes > li:before, .song-notes > li:after {
      content: "";
      display: table; }
    /* line 30, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/layout */
    .song-notes > li:after {
      clear: both; }
    /* line 33, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/config/layout */
    .lte7 .song-notes > li {
      zoom: 1; }

/* line 26, /Users/efatsi/Desktop/Projects/Pointless_Corp/ding_my_bells/src/sass/components/sheet */
.other-note {
  color: gainsboro; }
