.button {
  @include button;

  // Colors
  &.-gold {
    background: $color--gold;

    &:hover,
    &:focus {
      background: darken($color--gold, 10%);
    }
  }

  &.-green {
    background: darken($color--forest--dark, 5%);

    &:hover,
    &:focus {
      background: darken($color--forest--dark, 10%);
    }
  }

  &.-stitch {
    background: none;
    border-image: url('../images/stitch-border.png') 65 69 65 69 repeat;
    border-width: 9px;
    box-shadow: none;
    padding: 3px 0;

    &.-freestyle-button {
      margin-top: 30px;
    }

    @include bp-desktop {
      border-width: 12px;
    }

    &:hover,
    &:focus,
    &:active {
      background: rgba(0, 0, 0, 0.06);
    }
  }

  // Display Types
  &.-block {
    display: block;
    margin-bottom: 1em;
    width: 100%;
  }

  // Sizes
  &.-large {
    @include bp-tall {
      padding: 20px 40px;
    }

    @include bp-mobile-only {
      padding: 20px 40px;
    }
  }

  // Shapes
  &.-rounded {
    border-radius: 12px;
  }

  &[disabled] {
    opacity: 0.8;

    &:hover,
    &:focus {
      background: $color--gold;
    }
  }
}

.social-button {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}
