.button {
  @include button;

  // Colors
  &.-gold {
    background: $color--gold;

    &:hover,
    &:focus {
      background: darken($color--gold, 10%);
    }
  }

  &.-green {
    background: darken($color--forest--dark, 5%);

    &:hover,
    &:focus {
      background: darken($color--forest--dark, 10%);
    }
  }

  // Display Types
  &.-block {
    display: block;
    margin-bottom: 1em;
    width: 100%;
  }

  // Sizes
  &.-large {
    @include bp-tall {
      padding: 20px 40px;
    }

    @include bp-mobile-only {
      padding: 20px 40px;
    }
  }

  &.-skinny {
    max-width: 300px;
    margin: 0 auto;
    font-size: 35px;
    line-height: 140px;
  }

  &.-tall {
    height: 170px;
  }

  // Shapes
  &.-rounded {
    border-radius: 12px;
  }

  &[disabled] {
    background: #ccc;

    &:hover,
    &:focus {
      background: #ccc;
    }
  }
}
