.button {
  @include button;

  // Display Types
  &.-block {
    display: block;
    width: 100%;
  }

  // Sizes
  &.-large {
    font-size: 20px;
    padding: 20px 40px;

    @include bp-tablet {
      padding: 30px 80px;
    }
  }

  // Shapes
  &.-rounded {
    border-radius: 12px;
  }
}
