[type="date"],
[type="email"],
[type="number"],
[type="text"],
.select-value,
select,
textarea {
  @include font-open-sans;
  @include smooth-fonts;
  background: #fff;
  border: none;
  color: $grey;
  font-size: 16px;
  margin: 0;
  padding: 8px 10px;
  width: 100%;

  // Misc Browser fixes
  &::-ms-clear {
    display: none;
  }

  &::-webkit-calendar-picker-indicator{
    display: none;
  }

  &::-webkit-input-placeholder{
    visibility: hidden !important;
  }

  .-core-search-box &,
  .-bordered-dropdown &,
  &.-large {
    font-size: 14px;
    padding: 8px 10px;

    @include bp-desktop {
      font-size: 18px;
      padding: 7px 12px;
    }
  }

  .-bordered-dropdown &,
  &.-bordered {
    border: 1px solid $lightest-grey;
  }

  .-bordered-dropdown &,
  &.-rounded {
    border-radius: 3px;
  }

  .-stay-large & {
    font-size: 18px;
    padding: 7px 12px;
  }

  &.-mini-calendar {
    background-image: url("../images/structure/mini-calendar.png");
    background-position: 93% 49%;
    background-repeat: no-repeat;
    padding-right: 31px;
  }

  &.-destination-dropdown {
    padding-left: 62px;
  }

  .-inline-label & {
    border: none;
    padding-bottom: 10px;
    padding-left: 0;
    padding-top: 10px;
  }
}

.form__row {
  display: block;
  position: relative;
  vertical-align: top;

  .content-toggler {
    float: right;
    font-weight: 600;
  }

  .-inline & {
    display: inline-block;
    width: auto;
  }

  &.-half {
    display: inline-block;
    padding-right: 8px;
    width: 50%;

    &.-last {
      padding-left: 8px;
      padding-right: 0;
    }
  }

  .-bottom-border & {
    border-bottom: 1px solid $dark-pale-green;

    &.form__footer {
      border-bottom: 0;
    }
  }

  &.-inline-label {
    border-bottom: 1px solid $lightest-grey;
    padding-left: 100px;
  }
}

.form__label {
  @include label;
  color: $grey;
  cursor: text;
  display: block;
  font-size: 12px;
  margin: 0;
  padding: 18px 0 6px;
  position: relative;
  text-align: left;
  width: 100%;

  &.-hidden {
    display: none;
  }

  .-inline-label & {
    bottom: 8px;
    color: $light-grey;
    font-weight: 400;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 94px;
    z-index: 9;
  }

  b {
    color: $lighter-grey;
    display: inline-block;
    font-style: italic;
    font-weight: 400;
    margin-left: 2px;
    text-transform: none;
  }
}

.form__footer {
  margin-top: 20px;
}

// Styles Checkboxes
.checkbox-label {
  cursor: pointer;
  display: block;
  padding: 8px 0 8px 34px;
  position: relative;
  overflow: hidden;
}

[type="checkbox"] {
  float: left;
  height: 22px;
  left: 0;
  position: relative;
  visibility: hidden;
  width: 0;

  & + label:before {
    @include pseudo;
    border-radius: 3px;
    border: 1px solid $light-grey;
    height: 20px;
    top: 6px;
    visibility: visible;
    width: 20px;
  }

  & + label:after {
    @include pseudo;
    @include default-transition;
    color: $dark-pale-green;
    content: "✔";
    left: 6px;
    top: 8px;
    transform: translateX(-20px);
    visibility: visible;
  }

  &:checked + label:before {
    border: 1px solid $dark-pale-green;
  }

  &:checked + label:after {
    transform: translateX(0);
  }

  &:active + label:before {
    border: 1px solid $green;
  }

  &:active + label:after {
    color: $green;
  }
}

// Desintation toggle
.destination-toggle {
  @include button($pale-green);
  bottom: 6px;
  font-size: 12px;
  left: 6px;
  line-height: 1;
  padding: 8px 18px 8px 8px;
  position: absolute;
  text-transform: uppercase;

  &:before {
    @include pseudo;
    top: 12px;
    left: auto;
    right: 6px;
    border: 4px solid transparent;
    border-top: 4px solid #fff;
    width: 0;
    height: 0;
  }
}

// Custom sizing stuff
.input-size {
  &.-small {
    width: 70px;

    @include bp-notebook {
      width: 80px;
    }
  }

  &.-medium {
    width: 140px;
  }
}

[type="date"] {
  min-height: 36px;
}
