// Variables

$base-font-size        : 18px;
$large-font-size       : 20px;
$base-line-height      : 24px / $base-font-size;
$base-font-color       : #fff;
$base-background-color : $color--forest;

// Styles

html, body {
  background: $base-background-color;
  min-height: 100%;
  max-width: 100%;
}

body {
  color: $base-font-color;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
  }
}

.page-main {
  @include row;
  margin-top: 60px;

  @include bp-tablet {
    margin-top: 0px;
  }
}
.row {
  @include row;
}

.wrap {
  @include wrap;
}

.thin-wrap {
  @include wrap;
  max-width: 360px;

  &.-center {
    text-align: center;
  }
}
