// Variables

$body-font             : "soleil", "Helvetica Nueu", Helvetica, Arial, sans-serif;
$base-font-size        : 16px;
$large-font-size       : 18px;
$base-line-height      : 24px / $base-font-size;
$base-font-color       : #fff;
$base-background-color : $color--forest;

// Styles

html {
  height: 100%;
}

html, body {
  box-sizing: border-box;
  max-width: 100%;
  min-height: 100%;
}

body {
  background: url('../images/bg-stitch.png') repeat center;
  color: $base-font-color;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
  position: relative;

  * {
    box-sizing: border-box;
  }

  @include bp-retina {
    background: url('../images/bg-stitch@2x.png') repeat center;
    background-size: 120px 118px;
  }
}

.page-main {
  @include row;
  margin-top: 60px;

  @include bp-tablet {
    margin-top: 0px;
  }
}

.row {
  @include row;
}

.wrap {
  @include wrap;
  padding-bottom: 60px;
}

.thin-wrap {
  @include wrap;
  z-index: 2;
  max-width: 420px;

  &.-center {
    text-align: center;
  }
}
