html, body {
  @include font-open-sans;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  font-weight: 300;
}

.heading {
  &.-label {
    @include label;
    margin: 0 0 40px;
    text-align: center;
  }
}

p {
  line-height: 1.7;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  @include default-transition;
  @include default-text-hover;
}

.-bold {
  font-weight: 600;
}
