html, body {
  @include smooth-fonts;
  font-family: $body-font;
  font-size: $base-font-size;

  @include bp-desktop {
    font-size: $large-font-size;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  font-weight: 300;
}

.heading {
  &.-label {
    @include label;
    margin: 0 0 40px;
    text-align: center;
  }
}

.small {
  color: lighten($color--forest--light, 10%);
  font-size: 0.8em;
}

p {
  line-height: $base-line-height;
  margin: 0 0 1.8em;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  @include default-transition;
}

.-bold {
  font-weight: 600;
}