// Hide text
.hide-text {
  @include hide-text;
}

// Default Link stylings
.default-link {
  @include default-text-hover;
  background: none;
  border: none;
  color: $green;
  padding: 0;
  position: relative;
  text-align: left;

  &:hover span {
    color: $text-hover-color !important;
  }

  &.-with-icon {
    padding-left: 26px;
  }

  .icon {
    fill: $green;
    height: 20px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 20px;
  }

  span {
    color: $green;
  }
}

// Info Icon
.info-icon {
  cursor: pointer;
  fill: $lightest-grey;
  height: 14px;
  margin-left: 2px;
  position: relative;
  top: 2px;
  width: 14px;
}