.freestyle-note-div {
  @include clear-fix;
  margin-bottom: 1em;
  margin-top: 20px;
}

.freestyle-note-button {
  @include button($color--forest--dark);
  float: left;
  margin: 0 1% 4px 0;
  width: 19%;

  &.-active {
    @include button($color--gold);
  }
}

.freestyle-button-wrapper {
  @include clear-fix;
  position: relative;

  .-fill {
    @include fill;
    display: none;
    font-size: 32px;
    width: 100%;

    &.-show {
      display: block;
      transition: all 0 0 linear;
    }
  }
}

.freestyle-style-button {
  @include button($color--forest--dark);
  display: none;
  margin: 0 1% 15px 0;
  width: 25%;

  &.-active {
    @include button($color--gold);
  }

  &.-show {
    display: inline-block;
  }
}

.freestyle-style-instructions {
  display: none;
  margin: 10px;

  &.-show {
    display: block;
  }
}
