.freestyle-note-div {
  @include clear-fix;
  margin-bottom: 1em;
  margin-top: 30px;
}

.freestyle-note-button {
  @include button($color--forest--dark);
  float: left;
  margin: 0 1% 4px 0;
  width: 19%;

  &.-active {
    @include button($color--gold);
  }
}
