.game-page {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

#game {
  // shown with js
  display: none
}

.room-code-wrap {
  background: $color--forest--dark;
  border-radius: $button-border-radius;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 30px;
  line-height: 1;
  margin-bottom: 0.5em;
  padding: 20px 0;
  text-align: center;
  text-indent: 30px;
}

.game-details {
  margin-bottom: 1.8em;

  p {
    margin-bottom: 0.5em;
  }
}

.note-target {
  height: 20%;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 60%;
  width: 100%;

  &:before,
  &:after {
    @include pseudo;
    background: rgba($color--gold, 0.4);
    height: 8px;
    margin-top: -6px;
    top: 50%;
  }

  &:after {
    left: 50%;
    margin-left: 60px;
    right: 0;
  }

  &:before {
    margin-right: 60px;
    right: 50%;
  }

  figure {
    border-radius: 50%;
    border: 8px solid rgba($color--gold, 0.4);
    height: 100px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100px;
  }
}

body.game {
  .wrap,
  main {
    height: 100%;
  }

  .global-footer {
    display: none;
  }
}
