$handAnimName: "jbHand";
$armAnimName: "jbArm";
$ease-out-circ--custom: cubic-bezier(0.055, 0.535, 0.450, 0.940);
$ease-out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);

.instructions {
  background: url('../images/bg-stitch.png') repeat center top;
  display: none;
  left: 0;
  min-height: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.demo {
  background: $color--forest--dark;
  border-radius: $button-border-radius;
  height: 200px;
  margin-bottom: 2em;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.demo__arm {
  background: url('../images/arm-side.svg') no-repeat left center;
  background-size: 155px 155px;
  bottom: -80px;
  height: 155px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  transform: rotate(-30deg);
  width: 155px;

  animation: $armAnimName 1.5s infinite $ease-in-out-quart;
}

@include animate($armAnimName) {
  0% {
    bottom: -80px;
    margin-left: -25px;
    transform: rotate(-30deg);
  }
  45% {
    bottom: -80px;
    margin-left: -25px;
    transform: rotate(-30deg);
  }
  65% {
    bottom: -75px;
    margin-left: -30px;
    transform: rotate(-35deg);
  }
  100% {
    bottom: -80px;
    margin-left: -25px;
    transform: rotate(-30deg);
  }
}

.demo__hand {
  background: url('../images/hand-side.svg') no-repeat right top;
  background-size: 100px 140px;
  bottom: -57px;
  height: 235px;
  left: 50%;
  margin-left: -42px;
  position: absolute;
  width: 100px;
  z-index: 2;
  transform: rotate(5deg);

  animation: $handAnimName 1.5s infinite $ease-in-out-quart;
}

@include animate($handAnimName) {
  0% {
    margin-left: -42px;
    transform: rotate(5deg);
  }
  45% {
    margin-left: -42px;
    transform: rotate(5deg);
  }
  65% {
    margin-left: -47px;
    transform: rotate(-65deg);
  }
  100% {
    margin-left: -42px;
    transform: rotate(5deg);
  }
}


body.instruct-screen {
  .instructions {
    display: block;
  }
}

body.home {
  .button.-block {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }

  p {
    margin-bottom: 1em;
  }

  .button.-gold {
    margin-top: 20px;
  }

  @media #{$bp-desktop} and #{$bp-tall} {
    .global-footer {
      background-image: url('/images/home-footer.png');
      background-position: 0 120%;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 100%;

      svg {
        fill: #e99486;
        z-index: 2;
      }
    }
  }

  @media #{$bp-desktop} {
    .wrap {
      position: static;

      &:before,
      &:after {
        background: url('/images/hands2.png') no-repeat left center;
        content: "";
        height: 257px;
        position: absolute;
        overflow: hidden;
        top: 140px;
        width: 561px;
        z-index: 0;
      }

      &:before {
        transform: rotate(35deg);
        right: -230px;
      }

      &:after {
        background-position: right center;
        left: -180px;
        transform: rotate(-45deg);
      }
    }
  }

  @media (min-width: 1280px) and #{$bp-tall} {
    .wrap {

      &:before {
        transform: rotate(35deg);
        right: -180px;
      }

      &:after {
        left: -130px;
        transform: rotate(-45deg);
      }
    }
  }

  @include bp-desktop {
    .button.-gold {
      margin-top: 60px;
    }
  }
}

.social-actions {
  font-size: 13px;
  margin-bottom: 12px;
  margin-top: 22px;
  text-transform: uppercase;

  span {
    padding: 0 6px;
  }
}
