<div>Previewing <%= pretty(@song_name) %></div>

<a id="preview-play" href="#">Play</a> (plays at 2x speed)

<div id="room-info" data-song="<%= @song_notes %>"></div>

<script src="/js/app.js"></script>
