<div class="thin-wrap -center">
  <p>Make a hand bell choir and play a song using your phone! Invite up to 12 friends to play with you.</p>
  <p>Visit <a href="/play">www.jambells.com/play</a> on your phone or tablet.</p>
</div>
