<div class="thin-wrap -center">
  <div class="field">
    <label for="room-code">Enter the code for the choir you would like to join:</label>
    <input id="room-code" class="room-code" type="text" placeholder="Enter Code" maxlength="4">
  </div>

  <a href="/" id="room-link" class="button -gold -block">Join Choir</a>
  <a href="/" class="button -block -green">Back</a>
</div>
