.global-footer {
  bottom: 0;
  left: 0;
  padding: 20px 0;
  position: absolute;
  text-align: center;
  width: 100%;

  svg {
    bottom: 20px;
    fill: $color--forest--light;
    height: 30px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    width: 200px;
  }

  @media #{$bp-desktop} and #{$bp-tall} {
    padding: 60px 0;

    svg {
      bottom: 60px;
    }
  }
}