.song-container {
  @include fill;
}

.song-header {
}

.song-music {
  @include fill;
  overflow: hidden;
}

.song-notes {
  @include fill;

  > li {
    @include row;
    border-top: 1px solid $color--forest--dark;
    display: table-cell;
    font-size: 40px;
    font-weight: 600;
    height: 20%;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
  }
}

.other-note {
  color: gainsboro;
}

body.game {
  .wrap,
  main {
    height: 100%;
  }
}
