.song-container {
  @include fill;

  &::selection {
    background: transparent;
  }
}

.song-music {
  @include fill;
  overflow: hidden;
}

.song-notes {
  @include fill;
  top: -80%;

  > li {
    @include fill;
    text-align: center;

    figure {
      border-radius: 50%;
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);

      &.player-note {
        background: $color--gold;
        padding-top: 21px;
        height: 80px;
        width: 80px;

        svg {
          fill: #fff;
          width: 38px;
        }
      }

      &.other-note {
        background: $color--forest--dark;
        padding-top: 11px;
        height: 40px;
        width: 40px;

        svg {
          fill: #8eae81;
          width: 20px;
        }
      }

      &:not(.player-note) {
        left: 16%;

        &.-alt {
          left: 84%;
        }
      }
    }
  }
}

.song-ended {
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  h2 {
    font-size: 28px;
    margin-bottom: 1em;
  }
}

.other-note {
  color: gainsboro;
}

body.game {
  .wrap {
    height: 100%;
  }
}
