.song-container {
  @include fill;
}

.song-header {
}

.song-music {
  @include fill;
  overflow: hidden;
}

.song-notes {
  @include fill;

  > li {
    @include row;
    font-size: 40px;
    font-weight: 600;
    height: 150px;
    line-height: 150px;
    text-align: center;
  }
}
